<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ajouter une option
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">nouvelle option</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <h1>Que souhaitez-vous proposer ? </h1>
        <%= simple_form_for [@event, @option],
          url: @option.new_record? ? admin_event_options_path(@event) : admin_event_option_path(@event, @option),
          method: @option.new_record? ? :post : :patch do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category, as: :select, collection: ["Alimentaire", "Vestimentaire", "Autre"] %>
          <%= f.input :unit_price %>
          <%= f.input :ticket_ids,
                      as: :check_boxes,
                      collection: @tickets,
                      label_method: :name,
                      value_method: :id,
                      label: "Sélectionner des tickets" %>
    <%= f.submit "Enregistrer", class:"rounded-button primary"%>
<% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-rose" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-rose">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
