<div class="event-content-container" data-controller="duplicate-options">
  <h2>Options de l'évènement</h2>
  <p>Chaque option doit être liée aux tickets avec lesquels elles seront proposées.</p>
  <%= link_to 'Nouvelle option', new_admin_event_option_path(@event), class: 'btn btn-rose text-capitalize' %>

    <% if @event.options.alimentaire.any? %>
      <h2>Les options alimentaires</h2>
      <% @event.options.alimentaire.order(:name).each do |option| %>
        <%= render 'admin/options/cardOption', option: option %>
      <% end %>
    <% end %>
    <% if @event.options.vestimentaire.any? %>
      <h2>Les options vestimentaires</h2>
      <% @event.options.vestimentaire.order(:name).each  do |option| %>
        <%= render 'admin/options/cardOption', option: option %>
      <% end %>
    <% end %>
    <% if @event.options.goodies.any? %>
      <h2>Les goodies</h2>
      <% @event.options.goodies.order(:name).each  do |option| %>
        <%= render 'admin/options/cardOption', option: option %>
      <% end %>
    <% end %>
    <% if @event.options.autre.any? %>
      <h2>Autres</h2>
      <% @event.options.autre.order(:name).each  do |option| %>
        <%= render 'admin/options/cardOption', option: option %>
      <% end %>
    <% end %>




</div>
