<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3 me-2 my-2 card-option mb-4 shadow-sm">
  <div class="col-5">
  <% if option.emoji.present? %>
    <div class="card-option-emoji text-center">
      <span class="emoji-display"><%= option.emoji %></span>
    </div>
  <% end %>
</div>
<div class="col-7">
  <div class="card-option-content p-3">
    <div class="card-option-details">
      <h4 class="card-option-title"><%= option.name %></h4>
      <% if option.description.present? %>
        <p class="card-option-description"><%= option.description %></p>
      <% end %>
      <p class="card-option-price"><strong>Prix unitaire : <%= option.unit_price %> €</strong></p>
      <p> quantité <%= order.quantity %></p>
      <p> total <%= option.unit_price * order.quantity %> euros</p>
    </div>


    <div class="card-option-quantity mt-3">
      <div class="form-group">
</div>



      </div>
    </div>
  </div>
</div>
