<div class="registration-container">
<%= simple_form_for @participation do |f| %>
  <div class="participant-info my-4">
    <h2>Participant : <%= @participant.first_name %> <%= @participant.last_name %></h2>
    <h4><%= @ticket.name %></h4>
  </div>

  <div class="options-container">
    <% if @options.any? %>
      <% if @options.alimentaire.any? %>
        <h5 class="option-category-title">Options alimentaires</h5>
        <% @options.alimentaire.each do |option| %>
          <%= render 'option_card', option: option, orders: @orders %>
        <% end %>
      <% end %>

      <% if @options.vestimentaire.any? %>
        <h5 class="option-category-title">Options vestimentaires</h5>
        <% @options.vestimentaire.each do |option| %>
          <%= render 'option_card', option: option, orders: @orders %>
        <% end %>
      <% end %>

      <% if @options.goodies.any? %>
        <h5 class="option-category-title">Goodies</h5>
        <% @options.goodies.each do |option| %>
          <%= render 'option_card', option: option, orders: @orders %>
        <% end %>
      <% end %>

      <% if @options.autre.any? %>
        <h5 class="option-category-title">Autres options</h5>
        <% @options.autre.each do |option| %>
          <%= render 'option_card', option: option, orders: @orders %>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-muted">Aucune option disponible pour cet événement.</p>
    <% end %>
  </div>


  <div class="mt-4 text-center">
    <%= f.submit "Enregistrer", class: "btn btn-primary btn-lg" %>
  </div>


  <div class="total-summary text-center mt-3">
    <h4>Total général : <span id="total-general" data-target="price-calculator.generalTotal">0</span> €</h4>
  </div>
<% end %>
</div>
