<%= simple_form_for @participation do |f| %>
  <h3>Participant : <%= @participant.first_name %></h3>
  <h4>Ticket : <%= @ticket.name %></h4>

  <h4>Options disponibles</h4>
  <div class="row" data-controller="price-calculator">
    <% @options.each do |option| %>
      <% order = @orders.find { |o| o.option_id == option.id } %>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= label_tag "orders[#{option.id}][quantity]", option.name, class: "form-label" %>
          <div class="input-group">
            <%= number_field_tag "orders[#{option.id}][quantity]", order&.quantity || 0, min: 0, class: "form-control quantity-input", data: { unit_price: option.unit_price, target: "price-calculator.quantity" }, id: "quantity_#{option.id}", placeholder: "Quantité", step: 1 %>
            <div class="input-group-append">
              <span class="input-group-text">x</span>
            </div>
          </div>
          <small class="text-muted">Prix unitaire : <%= option.unit_price %> €</small>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= f.submit "Enregistrer", class: "btn btn-primary btn-block" %>
  </div>
  
  <div>
    <h4>Total général : <span id="total-general" data-target="price-calculator.generalTotal">0</span> €</h4>
  </div>
<% end %>