

<div class="text-center">
<h1>Bienvenue
<%= @participant.first_name %>
<%= @participant.last_name %>
</h2>

<h2><%= @participation.ticket.event.name %></h2>
<h2><%= @participation.ticket.name %></h2>

<p><%= @participant.email %></p>
<p>je fais <%= @participation.ticket.name %></p>

<div class="row">
  <% @orders.each do |order| %>
    <div class="card col-2 me-2 my-2 p-3"><p><%= order.quantity %> x <%= order.option.name %>
    <%= order.option.unit_price %>e <p>total <%= order.quantity * order.option.unit_price %> euros</p> </p>


    <div class="btn btn-danger me-5">X</div>
    </div>
  <% end %>
</div>

<div class="btn btn-primary">Valider mon panier</div>

</div>
