<% if @participation.status != 'confirmed' %>
  <%= link_to new_payment_path(participation_id: @participation.id), class: "text-decoration-none" do %>
    <div class="flash alert-danger">
      <span>
        <strong>Attention!</strong> Votre participation à <%= @participation.ticket.event.name %> n'est pas encore confirmée. Procédez au paiement de <%= @participation.total_amount %> euros
      </span>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  <% end %>
<% else %>
  <div class="flash alert-success">
    <span>
      <strong>Merci!</strong> Votre paiement a bien été reçu, et votre participation est confirmée.
    </span>
  </div>
<% end %>

<div class="container">
  <div class="p-3 text-center">
    <h3>Merci <%= @participant.first_name %> pour votre inscription à la</h3>
    <h2><%= @participation.ticket.event.name %></h2>
    <p>Voici le récapitulatif de votre commande :</p>

    <%= render "shared/receipt", participation: @participation %>

    <% if @participation.status != 'confirmed' %>
      <div class="text-center mt-4">
        <%= link_to 'Procéder au paiement', new_payment_path(participation_id: @participation.id), class: 'btn btn-rose' %>
      </div>
    <% end %>
  </div>
</div>
