<div class="event-content-container">
<h1><%= Event.count %> évènements dans la base</h1>
<% @events.each do |event|%>
<p>___________________________</p>
<%= event.name  %>
<%= event.description %>
<%= event.date %>
<%= link_to "ouvrir", admin_event_path(event) %>
<% end %>
<p>___________________________</p>
<h2>actions</h2>
<%= link_to "créer un évènement", new_admin_event_path %>
