
<div class="container-home-dashboard" data-controller="countdown" data-countdown-event-date-value="<%= @event.date %> 10:00:00">
  <div class="header" >
     <div class="d-flex align-items-center justify-content-center">
        <h1 class="mx-3">Evénement dans :</h1>
        <p id="next-event" class="countdown-timer" style ="font-size: 2rem" data-countdown-target="timer"></p>
      </div>
      <div class="card-product">
        <% if @event.image.attached? %>
          <%= cl_image_tag @event.image.key %>
        <% else %>
          <%= image_tag "logo.png", class: "event-image" %>
        <% end %>
        <div class="card-product-infos">
          <div style="text-align: right">
            <%= link_to edit_admin_event_path(@event), class: "event-action-logo" do %>
              <span class="visually-hidden">Edit</span>
              <i class="fas fa-edit event-edit-icon"></i>
            <% end %>
          </div>

          <h2><%= @event.name %></h2>
          <p><%= @event.description %></p>
          <p><%= @event.date %></p>
        </div>
      </div>

    </div>

    <div class="card-product justify-content-center">
      <div style="margin: 16px">
        <h2 class="event-title">Statut de l'évènement</h2>
        <ul class="event-info-list">
          <li class="event-info-item" style="font-style: italic; font-size: 12px">Brouillon : l'évènement n'apparaît que pour vous</li>
          <li class="event-info-item" style="font-style: italic; font-size: 12px">Publié : l'évènement est visible, et les participants peuvent s'inscrire</li>
        </ul>
        <%= simple_form_for @event, url: publish_admin_event_path(@event) do |f| %>
          <%= f.input :status,label: false, collection: Event::STATUS_OPTIONS, as: :select, prompt: "Choisir un statut" %>
          <%= f.submit "Enregistrer", class:" btn-rose w-100" %>
        <% end %>
      </div>
    </div>

    <div class="affichage-des-chiffres">
      <div class="inscriptions">
        <h2> INSCRIPTIONS </h2>
        <h3>à la <%= @event.name %></h3>
        <p class="bandeau"><strong><%= @event.participations.count %> inscrits</strong></p>
        <ul>
          <% @tickets.each do |ticket| %>
          <li>
            <p><strong><%=ticket.name %> : </strong> <%=ticket.participations.count %> inscrits</p>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="money">
        <h2>RECETTES</h2>
        <h3>grace à la <%= @event.name %></h3>

        <% @event.participations.each do |participation| %>
          <% @total += participation.total_amount %>
          <% @totalinscription += participation.ticket.unit_price %>
        <% end %>

        <% @event.orders.each do |order| %>

          <% if order.option.category === "Alimentaire" %>
            <% @totalalimentaire += order.option.unit_price * order.quantity %>
          <% end %>

          <% if order.option.category === "Vestimentaire" %>
            <% @totalvestimentaire += order.option.unit_price * order.quantity %>
          <% end %>

          <% if order.option.category === "Goodies" %>
            <% @totalgoodies += order.option.unit_price * order.quantity %>
          <% end %>

        <% end %>

        <p class="bandeau"><strong><%= @total %> €</strong></p>

        <ul>
          <li><p><strong>inscriptions : </strong><%= @totalinscription %> €</p></li>
          <li><p><strong>alimentaire : </strong><%= @totalalimentaire %> €</p></li>
          <li><p><strong>vestimentaire : </strong><%= @totalvestimentaire %> €</p></li>
          <li><p><strong>goodies : </strong> <%= @totalgoodies %> €</p></li>
        </ul>
      </div>
    </div>

     <div class="card-product justify-content-center">
      <div style="margin: 16px">
        <h2 class="event-title">Télécharger les données :</h2>
        <div class="d-flex justify-content-between">
          <%= link_to "Télécharger les options", download_options_xlsx_admin_event_path, class: "btn btn-rose btn-download", data: { turbo: false } %>
          <%= link_to "Télécharger les n° de dossard", download_bib_numbers_xlsx_admin_event_path, class: "btn btn-rose btn-download", data: { turbo: false } %>
        </div>
      </div>
    </div>




</div>
