<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">

  <title>
    <%= content_for(:title) %> - <%= application_title %>
  </title>

  <%= render "stylesheet" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "administrate", media: "all" %>
  <%= javascript_importmap_tags %>
  <%= csp_meta_tag if defined?(csp_meta_tag) %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css', rel: 'stylesheet' %>

</head>

  <body id="bodyadmin">
    <header class="transparent-header">
      <div class="header-content">
        Bonjour, Jo! #MesAmisMesAmours
      </div>
    </header>


    <%= render "icons" %>

    <div class="app-container">
      <%= render "admin/application/navigation" -%>
      <main class="main-content">
        <%= render "flashes" -%>
        <%= yield %>
      </main>
    </div>

  <%= render "javascript" %>
</body>
</html>
