<h1>Participants#new</h1>

<%=  @charity.name %>

ICIIIIII

<div class="container border border-3">



<%= simple_form_for(@participant) do |f| %>
  <%= f.input :first_name, label: 'prénom' %>
  <%= f.input :last_name, label: 'nom' %>
  <%= f.input :email %>
  <% f.input :charity  %>
  <%= f.submit %>
<% end %>


</div>
