<%= render 'events/top-navbar' %>
<% @options.each do |option| %>
<p>------------------</p>
<%= option.id %>
<%= option.name %>
<%= option.description %>
<%= option.unit_price %>
<ul>
  <% option.tickets.each do |ticket| %>
  <li><%= ticket.name %></li>
<% end %>
</ul>
<%= link_to "Editer", edit_event_option_path(@event, option) %>
<% end %>
<p>------------------</p>
<%= link_to "Nouvelle option", new_event_option_path(@event, @option) %>


