<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div class="navbar-center collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <%= link_to "L'association", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nos évènements", charity_events_path(@charity), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Faire un don", new_donation_path, class: "nav-link" %>
          </li>
      </ul>
    </div>

    <a href="mailto:test@test.fr" class="nav-contact">Contact us</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</div>
