<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div class="navbar-center collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <%= link_to "L'association", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nos évènements", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Faire un don", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>

    <%= link_to "Contact us", "#", class: "nav-contact" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</div>
