
  <div class="col-4">

    <div class="card index-event-card p-2">
      <h3 class=" event-card-title"><%= name %></h3>

    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-5">
       <%if event.image.attached?%>
  <%= cl_image_tag event.image.key%>
<% else %>
 <%= image_tag "logo.png"%>
<%end%>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-7">
        <p class="card-backstory"><%= truncate(description, length: 100, separator: ' ', omission: '...') %></p>
      </div>

    </div>

      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7">

          <%= link_to "Voir l'évènement", event_path(event) %>

        </div>
        <div class="col-sm-12 col-md-8 col-lg-5">
          <p><%= date %></p>
        </div>
      </div>
    </div>
  </div>
