<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<h2>l'évènement</h2>
<%= @event.name  %>
<%= @event.description %>
<%= @event.date %>

<h2>tickets</h2>
<%= link_to "créer ticket", new_ticket_path(@event) %>
<% @tickets.each do |ticket|%>
  <p>___________________________</p>
  <%= ticket.name  %>
  <%= ticket.description  %>
  <%= ticket.unit_price %>
  <%= link_to "éditer", edit_ticket_path(ticket) %>
<% end %>

<%= @tickets.first.options.first %>


<h2>options</h2>
<% @options.each do |option| %>
  <p>___________________________</p>
  <p><%= option.name  %></p>
  <p><%= option.description  %></p>
  <p><%= option.unit_price %></p>
<% end %>
  <p>___________________________</p>

<%= simple_form_for [@option] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, as: :select, collection: ["Alimentaire", "Vestimentaire", "Autre"] %>
  <%= f.input :unit_price %>
  <%= f.association :tickets %>
  <%= f.association :ticket_id, collection: @tickets, input_html: {multiple: true}, :as => :check_boxes %> 
  <%= f.submit "Enregistrer", class:"rounded-button primary"%>
<% end %>

<h2>publication</h2>