<div class="container">
  <%= render 'top-navbar' %>


 <div class="row">
<div class="col-xl-2 col-lg-0  m-3"></div>
        <div class="col-xl-3 col-lg-3 m-3">

        <%= render'dashboard-benevoles' %>

        <%# AMENE AUX OPTIONS DE L'EVENT %>


<div class="container ">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-3 border border-4 m-3">
        <%= @event.name  %>
        <%= @event.description %>
        <%= @event.date %>
        <ul>
        <% @tickets.each do |ticket|  %>
          <li><%= ticket.name %>
          <%= ticket.description %>
          <%= ticket.unit_price %>
          </li>
        <% end %>
        </ul>
        <%# AMENE AUX COURSES DE L'EVENT %>
          <%= link_to 'courses', event_tickets_path(@event.id) %>
      </div>



      <div class="col-xl-3 col-lg-3 m-3">
        <%= @event.name%>
        <%= @event.description %>
        <%= @event.date %>
        <ul>
        <% @tickets.each do |ticket|  %>
          <li><%= ticket.name %>
          <%= ticket.description %>
          <%= ticket.unit_price %>
            <h2>options sur cet event</h2>
<% @options.each do |option| %>
  <h4><%= option.name %></h4>
  <p><%= option.description %></p>
  <p><%= option.unit_price %></p>
  <ul>
    <% option.tickets.each do |ticket|%>
    <li><%=  ticket.name%></li>
    <% end %>
  </ul>
  <%= link_to "modifier cette option", edit_option_path(option), class:"btn btn-primary" %>
  <%= link_to "supprimer", option_path(option), data: { turbo_method: :delete}, class:"btn btn-alert" %>
  <p>___________________________</p>
<% end %>
          </li>
        <% end %>
        </ul>
        <%# AMENE AUX ACTIONS DE L'EVENT %>
          <%= link_to 'courses', event_tickets_path(@event.id) %>
      </div>
<div class="col-xl-1 col-lg-0 m-3"></div>
    </div>


<<<<<<< HEAD


  </div>
=======
      <div class="col-xl-3 border border-4 m-3">
        <%= @event.name%>
        <%= @event.description %>
        <%= @event.date %>
        <ul>
        <% @tickets.each do |ticket|  %>
          <li><%= ticket.name %>
          <%= ticket.description %>
          <%= ticket.unit_price %>
          </li>
        <% end %>
        </ul>
        <%# AMENE AUX COURSES DE L'EVENT %>
          <%= link_to 'courses', event_tickets_path(@event.id) %>
      </div>
      <%# <div class="col-xl-2 border border-4"></div> %>
    </div>
</div>

<%= render 'option_form' %>

>>>>>>> ee4a589cc09ac4f7fc09721f20982118647f3087
