<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<div class="container ">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-3 border border-4 m-3">
        <%= @event.name  %>
        <%= @event.description %>
        <%= @event.date %>
        <ul>
        <% @tickets.each do |ticket|  %>
          <li><%= ticket.name %>
          <%= ticket.description %>
          <%= ticket.unit_price %>
          </li>
        <% end %>
        </ul>
        <%# AMENE AUX COURSES DE L'EVENT %>
          <%= link_to 'courses', event_tickets_path(@event.id) %>
      </div>

<div class="col-xl-1"></div>

      <div class="col-xl-3 border border-4 m-3">
        <%= @event.name%>
        <%= @event.description %>
        <%= @event.date %>
        <ul>
        <% @tickets.each do |ticket|  %>
          <li><%= ticket.name %>
          <%= ticket.description %>
          <%= ticket.unit_price %>
          </li>
        <% end %>
        </ul>
        <%# AMENE AUX COURSES DE L'EVENT %>
          <%= link_to 'courses', event_tickets_path(@event.id) %>
      </div>
      <div class="col-xl-2"></div>
    </div>
<div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-3 border border-4 m-3">
        <%= @event.name  %>
        <%= @event.description %>
        <%= @event.date %>
        <ul>
        <% @tickets.each do |ticket|  %>
          <li><%= ticket.name %>
          <%= ticket.description %>
          <%= ticket.unit_price %>
          </li>
        <% end %>
        </ul>
        <%# AMENE AUX COURSES DE L'EVENT %>
          <%= link_to 'courses', event_tickets_path(@event.id) %>
      </div>

<div class="col-xl-1"></div>

      <div class="col-xl-3 border border-4 m-3">
        <%= @event.name%>
        <%= @event.description %>
        <%= @event.date %>
        <ul>
        <% @tickets.each do |ticket|  %>
          <li><%= ticket.name %>
          <%= ticket.description %>
          <%= ticket.unit_price %>
          </li>
        <% end %>
        </ul>
        <%# AMENE AUX COURSES DE L'EVENT %>
          <%= link_to 'courses', event_tickets_path(@event.id) %>
      </div>
      <%# <div class="col-xl-2 border border-4"></div> %>
    </div>
</div>
