<nav class="navigation">
  <!-- Header -->
  <div class="transparent-header">
    <div class="header-content">Admin</div>
  </div>

  <!-- Asso Section -->
  <div class="navigation__section">
    <p class="navigation__section-title">
      <i class="fa fa-building"></i> Asso
    </p>
    <ul class="navigation__list">
      <li><%= link_to raw('<i class="fa fa-home"></i> Accueil'), admin_root_path, class: 'navigation__link' %></li>
      <li><%= link_to raw('<i class="fa fa-donate"></i> Dons'), admin_donations_path, class: 'navigation__link' %></li>
      <li><%= link_to raw('<i class="fa fa-credit-card"></i> Paiements'), admin_payments_path, class: 'navigation__link' %></li>
    </ul>
  </div>
  <div class="navigation__separator"></div>

  <!-- Événements Section -->
  <div class="navigation__section">
    <p class="navigation__section-title">
      <%= link_to raw('<i class="fa fa-calendar"></i> Événements'), admin_events_path, class: 'navigation__section-title-link' %>
    </p>
    <% if @current_event %>
      <p class="navigation__helper"> Actuel : <%= @current_event.name %></p>
      <p class="navigation__helper"><%= link_to raw('<i class="fa fa-times-circle text-danger"></i> Effacer la sélection'), admin_clear_event_path, method: :delete, class: 'navigation__clear-link' %></p>
    <ul class="navigation__list">
      <ul class="navigation__list">
        <li><%= link_to raw('<i class="fa fa-users"></i> Participations'), admin_event_participations_path(@current_event), class: 'navigation__link' %></li>
        <li><%= link_to raw('<i class="fa fa-ticket-alt"></i> Tickets'), admin_event_tickets_path(@current_event), class: 'navigation__link' %></li>
        <li><%= link_to raw('<i class="fa fa-sliders-h"></i> Options'), admin_event_options_path(@current_event), class: 'navigation__link' %></li>
      </ul>
    <% else %>
      <ul class="navigation__list">
        <p class="navigation__helper">Choisissez un évènement ci-dessous</p>
        <% Event.order(created_at: :desc).limit(3).each do |event| %>
          <li><%= link_to raw("<i class='fa fa-calendar-check'></i> #{event.name}"), admin_event_path(event), class: 'navigation__link' %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="navigation__separator"></div>

  <!-- User Info Section -->
  <div class="navigation__section navigation__user-info">
    <p class="navigation__user-info__name">
      <%= current_user.first_name %> <%= current_user.last_name %>
    </p>
    <%= link_to raw('<i class="fa fa-sign-out-alt"></i> Déconnexion'), destroy_user_session_path, method: :delete, class: 'navigation__user-info__logout' %>
  </div>
</nav>
