

<div class="container" data-controller="countdown" data-countdown-event-date-value="<%= @nextevent.date %> 10:00:00">
  <div class="header" >
    <h1>Prochain événement dans</h1>
    <p id="next-event" class="countdown-timer" data-countdown-target="timer"></p>



      <div class="card-product">
        <%= cl_image_tag("runner-PTLUTZL-e1641394048474-600x400_hxswmh", class:"index-event-card-image")%>
        <div class="card-product-infos">
          <h2><%= @nextevent.name %></h2>
          <p><%= truncate(@nextevent.description, length: 100, separator: ' ', omission: '...') %></p>
          <p><%=link_to "Voir l'évènement", event_path(@nextevent) %></p>
          <p><%= @nextevent.date %></p>
        </div>
      </div>
    </div>

    <div class="affichage-des-chiffres">
      <div class="inscriptions">
        <h2> INSCRIPTIONS </h2>
        <h3>à la <%= @nextevent.name %></h3>
        <p class="bandeau"><strong><%= @participations.count %> inscrits</strong></p>

        <ul>
          <% @tickets.each do |ticket| %>
          <li>
            <p><strong><%=ticket.name %> :</strong> <%=ticket.participations.count %> inscrits</p>
          </li>
          <% end %>
        </ul>

      </div>
      <div class="money">
        <h2>RECETTES</h2>
        <h3>grace à la <%= @nextevent.name %></h3>
         <p class="bandeau"><strong><%= @participations.count %> inscrits</strong></p>

        <ul>
          <% @tickets.each do |ticket| %>
          <li>
            <p><strong><%=ticket.name %> :</strong> <%=ticket.participations.count %> inscrits</p>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
