<div class="container">
  <div style="text-align:center; padding:16px">
      <h1>prochain evenement dans </h1>
      <p id="next-event"></p>

    <div class="card index-event-card p-2">
      <h3 class=" event-card-title"><%= @nextevent.name %></h3>

        <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-5">
        <%= cl_image_tag("runner-PTLUTZL-e1641394048474-600x400_hxswmh", class:"index-event-card-image")%>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-7">
        <p class="card-backstory"><%= truncate(@nextevent.description, length: 100, separator: ' ', omission: '...') %></p>
      </div>

    </div>

      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7">

          <%= link_to "Voir l'évènement", event_path(@nextevent) %>

        </div>
        <div class="col-sm-12 col-md-8 col-lg-5">
          <p><%= @nextevent.date %></p>
        </div>
      </div>
    </div>
  </div>









    <script>
    // Set the date we're counting down to
    var countDownDate = new Date("<%= @nextevent.date %> 10:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Output the result in an element with id="demo"
      document.getElementById("next-event").innerHTML = days + "j " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // If the count down is for today, write some text
      if (days == 0 && hours < 9) {
        clearInterval(x);
        document.getElementById("next-event").innerHTML = "TODAY";
      }

      // If the count down is over, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("next-event").innerHTML = "FINI";
        }
    }, 1000);
    </script>
</div>
