
<% if @nextevent === nil  %>
  <div class="flash flash-danger alert-dismissible fade show" role="alert">
    <span><strong>Oups!</strong> 😱 Pas d'évènement planifié pour le moment.</span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

<% else %>
<div class="container-home-dashboard" data-controller="countdown" data-countdown-event-date-value="<%= @nextevent.date %> 10:00:00">
  <div class="header" >
    <h1>Prochain événement dans</h1>
    <p id="next-event" class="countdown-timer" data-countdown-target="timer"></p>
      <div class="card-product">
        <% if @nextevent.image.attached? %>
          <%= cl_image_tag @nextevent.image.key %>
        <% else %>
          <%= image_tag "logo.png", class: "event-image" %>
        <% end %>
        <div class="card-product-infos">
          <h2><%= @nextevent.name %></h2>
          <p><%= truncate(@nextevent.description, length: 100, separator: ' ', omission: '...') %></p>
          <p><%=link_to "Voir l'évènement", event_path(@nextevent) %></p>
          <p><%= @nextevent.date %></p>
        </div>
      </div>
    </div>

    <div class="affichage-des-chiffres">
      <div class="inscriptions">
        <h2> INSCRIPTIONS </h2>
        <h3>à la <%= @nextevent.name %></h3>
        <p class="bandeau"><strong><%= @nextevent.participations.count %> inscrits</strong></p>
        <ul>
          <% @tickets.each do |ticket| %>
          <li>
            <p><strong><%=ticket.name %> :</strong> <%=ticket.participations.count %> inscrits</p>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="money">
        <h2>RECETTES</h2>
        <h3>grace à la <%= @nextevent.name %></h3>


        <p class="bandeau"><strong>xxxxx €</strong></p>

        <ul>
          <li><p><strong>inscriptions :</strong> xxxxxx €</p></li>
          <li><p><strong>alimentaire :</strong> xxxxxx €</p></li>
          <li><p><strong>vestimentaire :</strong> xxxxxx €</p></li>
          <li><p><strong>goodies :</strong> xxxxxx €</p></li>
        </ul>
      </div>
    </div>
</div>
<% end %>
