<h1>Crée une course </h1>


<%= simple_form_for [@event, @ticket] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :unit_price %>
  <%= f.input :present, as: :boolean %>
  <%= f.submit "Crée une", class: "btn btn-primary" %>
<% end %>
