<div class="event-content-container">
<h1>Modifier une course </h1>
<%= simple_form_for [@event, @ticket], url: admin_event_ticket_path(@event, @ticket), method: :patch do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :unit_price %>
<%= f.input :present, as: :boolean %>
<%= f.submit "Modifier le ticket", class: "btn btn-primary" %>
<% end %>

</div>