<div class="container mt-5">
  <% if @payable.is_a?(Donation) %>
    <h1>Faire un don</h1>
    <p>Merci pour votre don de <%= number_to_currency(@payable.amount, unit: "€") %>.</p>
    <p><strong>Donateur:</strong> <%= @payable.first_name %> <%= @payable.last_name %></p>
    <p><strong>Adresse:</strong> <%= @payable.address %>, <%= @payable.postal_code %></p>
  <% end %>

  <%= render "payments/stripe_form", payment: @payment %>
</div>
